/*
 Theme Name:   Planty
 Theme URI:    https://openclassrooms.com/
 Description:  Thème enfant pour Astra
 Author:       OC avec Astra
 Author URI:   contact@art-graphic-leverdier.com
 Template:     astra
 Version:      4.6.13
 Text Domain:  planty
*/


@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap');

* {
    font-family: 'Syne', sans-serif;
}

/* Variables */

:root {
    --main-color: #ECE2DA;
    --secondary-color: #E0B9B4;
    --tertiary-color: #E3D9D0;
    --accent-color: #3B8E46;

    --color-btn: #DC9F96;
    --color-btn-hover: #C02E44;

    --color-white: #FFFFFF;
    --color-black: #000000;
}

/** HEADER **/
.site-header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.custom-logo {
    margin-left: 36px;
}
/** Navigation **/
.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 auto;
}
.menu-link {
    color: black;
    padding: 20px 60px;
}
.nav-list a {
    color: black;
    padding-right: 60px;
}
.nav-list a:hover {
    color: black;
    text-decoration: underline;
}
.menu-item-34 .menu-link { /* Style pour Commander */
    display: flex;
    width: 236px;
    height: 80px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--color-btn);
}
.menu-item-34 .menu-link:hover{
    color: white;
    text-decoration: underline;
}

/** HOME **/

.hero { /* Hero Image */
    /* conteneur de la canette */
    height: 618px;
    width: 640px;
}
.canette {
    z-index: 2;
    position: absolute;
}
.leaf-left { 
    left: 180px;
    bottom: 77px;
}
.leaf-right {
    right: 190px;
    bottom: 77px;
}
.bouton-gouts a:hover{
    background-color: var(--color-btn-hover) !important;
}

/** NOUS RENCONTRER **/
.nous-rencontrer{
    z-index: 1;
    background-image: url("http://planty.local/wp-content/uploads/2024/05/icon-flower.png");
    background-size: 145px 150px;
    background-position: 45px 55px;
    background-repeat: no-repeat;
    overflow: hidden; /* Prévention du débordement visuel */
}   
/** Section équipe **/
.section-equipe{
    z-index: 1;
    background-image: url("http://planty.local/wp-content/uploads/2024/05/icon-branch-left.png");
    background-size: 191px 219px;
    background-position: right bottom;
    background-repeat: no-repeat;
}

/* Formulaire et pied de page */
.wpcf7-form-control { /* élément parent */
    z-index: 1;
    padding: 0;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
span[data-name="message"]::before{ /*element enfant, ajouté avant "span message" */
    content: url(http://planty.local/wp-content/uploads/2024/05/icon-leaf.png);
    width: 100px;
    height: 80px;
    z-index: -1;
    position: absolute;
    left: -85px;
    bottom: 40px;
}
span[data-name="message"] { /* element enfant "span message" */
    position: relative;
    z-index: 2;
    padding: 0 !important;
}
.submit:hover {
    background-color: var(--color-btn-hover) !important;
    }

/** PAGE COMMANDER **/
.fruits-nb {
    display: flex;
    max-width: 64%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 26px;
}
/* img { A VOIR SI REELEMENT NECESSAIRE !
    display: flex;
    width: 192px;
    height: auto;
    } */
.quantity-input { 
    width: 60px !important;
    height: 56px !important;
    display: flex;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    font-size: 9px;
    border-radius: 0;
    appearance: textfield;
}
.separator-horizontal {
    display: flex;
    width: 64%;
    margin: auto;
    height: 2px;
    background-color: white;
}
.informations-livraisons {
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
}
.section {
    flex: 1;
    margin: 0 5px;
    /* Espacement horizontal entre les sections */
}
.contact-form__group { /* style conteneur infos-livraison*/
    border: none !important;
    flex: 1;
    width: 80%;
    margin: auto;
}
.contact-form__legend {
    /* Vos infos+livraison : Style text */
    margin-bottom: 1rem;
    color: white;
    border: none !important;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0;
}
.contact-form__field {
    /* Vos infos+livraison : Hauteur entre les champs */
    margin-bottom: 1rem;
    flex-direction: column;
    }
    .contact-form__label {
    /* Vos infos+livraison : Hauteur entre les champs et label */
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 400;
}
.contact-form__input {
    /* Vos infos+livraison : Style des champs */
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
}
.separator {
    width: 2px;
    background-color: white;
    margin: 0 10px;
    /* Espacement autour de la ligne */
}
.info-livraison-button {
    margin-top: 40px !important;
    border: 1px solid #dc9f96 !important;
    border-radius: 7px !important;
 }
.info-livraison-button:hover {
    background-color: #C02E44 !important;
    border: none !important;
}

/** FOOTER **/

#site-footer.sticky-bottom {
    position: sticky;
    bottom: 0;
}
.site-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 60px;
}
.menu-item-37 .menu-link {
    color: black;
}


/** RESPONSIVE **/

/** Menu Mobile **/

.mobile-menu {
    display: none;
}

@media all and (max-width: 850px) {
    .desktop-menu {
        display: none;
        /* Masquer pour les écrans mobiles */
    }   
    .mobile-menu {
        display: block;
        /* Afficher pour les écrans mobiles */
    }
}
@media all and (max-width: 768px) {

    /* @ NAVIGATION */
    .desktop-menu {
        display: none;
        /* Masquer pour les écrans mobiles */
    }
    .mobile-menu {
       display: block;
        /* Afficher pour les écrans mobiles */
    }
    .site-header {
        display: flex;
        max-width: 768px;
    }
    /* Logo */
    .custom-logo {
        width: 70%;
        margin-left: 10px;
    }
    .body {
        max-width: 100%;
    }

    /*@ NOUS RENCONTRER */
    .nous-rencontrer { 
        background-image: none;
        }
    
    /* @ COMMANDER */
        .fruits-nb {
            flex-direction: column;
            max-width: 100%;
            margin-bottom: 35px;
        }
        .informations-livraisons {
            margin-top: 50px;
        }
        .contact-form__group {
            /* style conteneur infos-livraison*/
            border: none !important;
            flex: 1;
            width: 100%;
            margin: 0;
        }
        .contact-form__legend {
            /* Vos infos+livraison : Style text */
            font-weight: 400;
            margin-top: 15px ;
            margin-bottom: 0;
        }
        .contact-form__field {
            /* Vos infos+livraison : Hauteur entre les champs */
            margin-bottom: 1.5rem;
        }
        .contact-form__input {
            /* Vos infos+livraison : Style des champs */
            padding: 0;
        }
        .separator { 
            display: none;
        }
        .info-livraison-button {
            font-size: 13px !important;
        }
    
    /* @ FOOTER */
    .menu-item-37 .menu-link {
        font-size: 12px;
        padding-top: 15px;
        color: black;
        margin-bottom: 0;
    }
}

   @media all and (max-width: 320px) {

       /* @ NAVIGATION */

        .mobile-menu {
           display: none; */
           /* Afficher pour les écrans mobiles */
       }
       .site-header {
           display: flex;
           max-width: 320px;
       }
       /* Logo */
       .custom-logo {
           width: 100%;
           margint: 10px;
       }
       /* .body {
           max-width: 100%;
       } */

       /* @ COMMANDER */
       .informations-livraisons {
           margin-top: 25px;
       }
       .contact-form__group {
           /* style conteneur infos-livraison*/
           flex: 1;
           padding: 0;
       }
       .contact-form__legend {
           /* Vos infos+livraison : Style text */
           margin: 30px o !important;
       }
       .contact-form__field {
           /* Vos infos+livraison : Hauteur entre les champs */
           margin-bottom: 1.5rem;
       }
       .info-livraison-button {
           font-size: 13px !important;
       }

       /* @ FOOTER */
       .menu-item-37 .menu-link {
           font-size: 12px;
           padding-top: 15px;
           color: black;
           margin-bottom: 0;
       }
   }